{% extends 'base.html' %}





{% block advert %}
{% endblock %}

{% block carousel %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block goods %}
<div class="container">
    
<div class="row">
    <div class="col-md-12 ">
        <img src="/static/images_star/dog.jpeg" alt="tears emoji" class="h-20 mx-5 my-5">
    </div>
</div>

<p class="alert alert-danger w-50">This is a Bad Request...Login First</p>
</div>
{% endblock %}

{% block dashboard %}
       
{% endblock %}

{% block foodstuff %}
{% endblock %}


 {% block footer %}
{% endblock %}


{% block modal %}
{% endblock %}

 {% block offcanvas %}
{% endblock %}



